.hero-section {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.hero-text {
  margin-bottom: 300px;
}

.hero-header {
  font-size: xxx-large;
}

.hero-title-stylized {
  font-style: oblique;
  font-weight: 700;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #8680f2 0%, #294bd6 50%, #00c6ff 100%);

  background-size: 200% auto;

  background-clip: text;
  color: transparent;

  animation: gradient-flow 6s linear infinite;
}

.login-btn {
  background: linear-gradient(90deg, #8680f2 0%, #294bd6 50%, #00c6ff 100%);
  background-size: 200% auto;

  animation: gradient-flow 6s linear infinite;
}

@keyframes gradient-flow {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}
