.hero-section {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.hero-text {
  margin-bottom: 300px;
}

.hero-header {
  font-size: xxx-large;
}

.hero-title-stylized {
  font-style: oblique;
}
