:host {
  flex: 1;
  min-width: 0;
}

.playlist-page {
  padding: 10px;
}

.playlist-page-header {
  display: flex;
  padding: 10px;
}

.tracklist-infinite-container {
  height: 70vh;
  width: 100%;
}

.playlist-title-wrapper {
  display: flex;
  align-items: center;
}

.playlist-title {
  display: flex;
  align-items: center;
}
