<section class="playlist-page">
  <header class="playlist-page-header">
    <div>
      <img width="200px" height="200px" [src]="currentPlaylist()?.picture_medium" alt="" />
    </div>
    <p class="playlist-title">{{ currentPlaylist()?.title }}</p>
  </header>

  <!-- @if (currentPlaylist; as playlist) { -->
  <nz-list>
    @for (track of currentPlaylist()?.tracks?.data; track track.id) {
      <nz-list-item>
        <nz-list-item-meta
          [nzAvatar]="track.album.cover_small"
          [nzDescription]="`${track.artist.name}`"
        >
          <nz-list-item-meta-title>
            {{ `${track.title}` }}
          </nz-list-item-meta-title>
        </nz-list-item-meta>
      </nz-list-item>
      <!-- @if (isLoading()) {
          <nz-list-item>
            <nz-skeleton [nzActive]="true" [nzAvatar]="true" [nzParagraph]="{ rows: 1 }" />
          </nz-list-item>
        } -->
    }
  </nz-list>
  <!-- } -->
</section>
