<section class="playlist-page">
  <header class="playlist-page-header">
    <div>
      <img width="200px" height="200px" [src]="currentPlaylist()?.picture_medium" alt="" />
    </div>
    <div class="playlist-title-wrapper">
      <p class="playlist-title">{{ currentPlaylist()?.title }}</p>
      @if (currentPlaylist()?.isLocal) {
        <button nz-button nzType="text" (click)="editPlaylist()">
          <nz-icon nzType="edit" nzTheme="outline" />
        </button>
        <button
          nz-button
          nzType="text"
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this task?"
          (nzOnConfirm)="deletePlaylist()"
          (nzOnCancel)="cancel()"
        >
          <nz-icon nzType="delete" nzTheme="outline" />
        </button>
      }
      <span>
        {{ getPlaylistStats().nb_tracks }} Songs
        {{ getPlaylistStats().duration | durationPipe }}
      </span>
    </div>
  </header>

  <cdk-virtual-scroll-viewport itemSize="73" class="tracklist-infinite-container">
    <nz-list>
      @if (typeof currentPlaylist()) {
        <nz-list-item
          *cdkVirtualFor="let track of currentPlaylist()?.tracks?.data"
          (click)="changeSelectedTrack(track)"
        >
          <nz-list-item-meta
            [nzAvatar]="track.album.cover_small"
            [nzDescription]="`${track.title }`"
          >
            <nz-list-item-meta-title>
              <app-artist-link [artistName]="track.artist.name" [artistId]="track.artist.id"/>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </nz-list-item>
        @if (isLoading()) {
          <nz-list-item>
            <nz-skeleton [nzActive]="true" [nzAvatar]="true" [nzParagraph]="{ rows: 1 }" />
          </nz-list-item>
        }
      }
    </nz-list>
  </cdk-virtual-scroll-viewport>
</section>
